<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://Mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yechtech.dac.traceability.dao.BatchTraceabilityCcMapper">
    <resultMap id="cdfactIqaBatchTraceabilityCcMap" type="com.yechtech.dac.traceability.domain.BatchTraceabilityCc">
        <result property="id" column="id"/>
        <result property="supplierJdecode" column="supplier_jdecode"/>
        <result property="supplierName" column="supplier_name"/>
        <result property="skuEqacode" column="sku_eqacode"/>
        <result property="skuJdecode" column="sku_jdecode"/>
        <result property="skuName" column="sku_name"/>
        <result property="productionDate" column="production_date"/>
        <result property="slcCodeCc" column="slc_code_cc"/>
        <result property="slcNameCc" column="slc_name_cc"/>
        <result property="earliestdelvDate" column="earliestdelv_date"/>
        <result property="receiver" column="receiver"/>
        <result property="receivedQty" column="received_qty"/>
        <result property="shipmentQty" column="shipment_qty"/>
        <result property="inventoriesQty" column="inventories_qty"/>
        <result property="uom" column="UOM"/>
    </resultMap>

    <select id="query" resultMap="cdfactIqaBatchTraceabilityCcMap">
        select id from cdm_fact_iqa_batch_traceability_cc where
        <trim suffixOverrides="and" >
            1=1 and
            <if test="supplierJdecode !=null and supplierJdecode !=''">
                supplier_jdecode = #{supplierJdecode} and
            </if>
            <if test="skuJdecode !=null and skuJdecode !=''">
                sku_jdecode = #{skuJdecode} and
            </if>
            <if test="productionDate !=null">
                production_date = #{productionDate} and
            </if>
        </trim>
        limit 1,10
    </select>

    <!-- 分页查询 -->
    <select id="queryPage" resultMap="cdfactIqaBatchTraceabilityCcMap">
        SELECT
        a.supplier_jdecode,
        a.supplier_name,
        a.sku_eqacode,
        a.sku_jdecode,
        a.sku_name,
        a.production_date,
        a.slc_code_cc,
        a.slc_name_cc,
        a.earliestdelvdate,
        a.receiver_code,
        a.receiver,
        a.receiver_code,
        a.received_qty,
        a.shipment_qty,
        a.inventories_qty,
        a.UOM
        FROM
        cdm_fact_iqa_batch_traceability_cc a
        INNER JOIN edw_iqa_sqa_sku_relation eskr ON eskr.sku_jdecode = a.sku_jdecode
        INNER JOIN ods_user_role_mapping ourm ON ourm.rolename = eskr.sqa_group_name
        <if test="cdfactIqaBatchTraceabilityCc.psid !=null">
            AND ourm.adpid = #{cdfactIqaBatchTraceabilityCc.psid}
        </if>
        where
        <trim suffixOverrides="and" >
            1=1 and
            <if test="cdfactIqaBatchTraceabilityCc.supplierJdecode !=null">
                a.supplier_jdecode = #{cdfactIqaBatchTraceabilityCc.supplierJdecode} and
            </if>
            <if test="cdfactIqaBatchTraceabilityCc.skuEqacode !=null">
                a.sku_eqacode = #{cdfactIqaBatchTraceabilityCc.skuEqacode} and
            </if>
            <if test="cdfactIqaBatchTraceabilityCc.skuJdecode !=null">
                a.sku_jdecode = #{cdfactIqaBatchTraceabilityCc.skuJdecode} and
            </if>
            <if test="cdfactIqaBatchTraceabilityCc.productionDate !=null">
                a.production_date = #{cdfactIqaBatchTraceabilityCc.productionDate} and
            </if>

        </trim>
        order by a.id desc limit #{startIndex},#{limit}
    </select>

    <select id="queryPageCount" resultType="java.lang.Long">
        select count(*) from cdm_fact_iqa_batch_traceability_cc a
        INNER JOIN edw_iqa_sqa_sku_relation eskr ON eskr.sku_jdecode = a.sku_jdecode
        INNER JOIN ods_user_role_mapping ourm ON ourm.rolename = eskr.sqa_group_name
        <if test="psid !=null">
            AND ourm.adpid = #{psid}
        </if>
        where
        <trim suffixOverrides="and" >
            1=1 and
            <if test="supplierJdecode !=null">
                a.supplier_jdecode = #{supplierJdecode} and
            </if>
            <if test="skuEqacode !=null">
                a.sku_eqacode = #{skuEqacode} and
            </if>
            <if test="skuJdecode !=null">
                a.sku_jdecode = #{skuJdecode} and
            </if>
            <if test="productionDate !=null">
                a.production_date = #{productionDate} and
            </if>
        </trim>
    </select>


</mapper>