<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://Mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yechtech.dac.traceability.dao.BatchTraceabilityRmiMapper">
    <resultMap id="cdfactIqaBatchTraceabilityRmiMap" type="com.yechtech.dac.traceability.domain.BatchTraceabilityRmi">
        <result property="id" column="id"/>
        <result property="manufacturerRmiCode" column="manufacturer_rmi_code"/>
        <result property="manufacturerRmiName" column="manufacturer_rmi_name"/>
        <result property="rmiSkuCode" column="rmi_sku_code"/>
        <result property="rmiSkuName" column="rmi_sku_name"/>
        <result property="rmiBatchNo" column="rmi_batch_no"/>
        <result property="manufacturerEqaCode" column="manufacturer_eqa_code"/>
        <result property="manufacturerName" column="manufacturer_name"/>
        <result property="skuEqacode" column="sku_eqa_code"/>
        <result property="skuJdecode" column="sku_jdecode"/>
        <result property="skuName" column="sku_name"/>
        <result property="productionDate" column="production_date"/>
        <result property="quantity" column="quantity"/>
        <result property="uom" column="UOM"/>
    </resultMap>


    <select id="query" resultMap="cdfactIqaBatchTraceabilityRmiMap">
        select a.* from cdm_fact_iqa_batch_traceability_rmi a
        INNER JOIN edw_iqa_sqa_sku_relation eskr ON eskr.sku_jdecode = a.sku_jdecode
        INNER JOIN ods_user_role_mapping ourm ON ourm.rolename = eskr.sqa_group_name
        <if test="psid !=null">
            AND ourm.adpid = #{psid}
        </if>
        where
        <trim suffixOverrides="and" >
            1=1 and
            <if test="manufacturerRmiCode != null and manufacturerRmiCode !=''">
                a.manufacturer_rmi_code = #{manufacturerRmiCode} and
            </if>
            <if test="manufacturerEqaCode != null and manufacturerEqaCode !=''">
                a.manufacturer_eqa_code = #{manufacturerEqaCode} and
            </if>
            <if test="productionDate != null">
                a.production_date = #{productionDate} and
            </if>
            <if test="skuJdecode != null and skuJdecode !=''">
                a.sku_jdecode = #{skuJdecode} and
            </if>
            <if test="manufacturerName != null and manufacturerName !=''">
                a.manufacturer_name like Concat('%',#{manufacturerName},'%')  and
            </if>
            <if test="manufacturerRmiName != null and manufacturerRmiName !=''">
                a.manufacturer_rmi_name like Concat('%',#{manufacturerRmiName},'%')  and
            </if>
        </trim>
        limit 1,10
    </select>


    <!-- 分页查询 -->
    <select id="queryPage" resultMap="cdfactIqaBatchTraceabilityRmiMap">
        SELECT
        a.manufacturer_rmi_code,
        a.manufacturer_rmi_name,
        a.rmi_sku_code,
        a.rmi_sku_name,
        a.rmi_batch_no,
        a.manufacturer_name,
        a.sku_eqacode,
        a.sku_jdecode,
        a.sku_name,
        a.production_date,
        a.UOM,
        a.quantity
        FROM
        cdm_fact_iqa_batch_traceability_rmi a
        INNER JOIN edw_iqa_sqa_sku_relation eskr ON eskr.sku_jdecode = a.sku_jdecode
        INNER JOIN ods_user_role_mapping ourm ON ourm.rolename = eskr.sqa_group_name
        <if test="cdfactIqaBatchTraceabilityRmi.psid !=null">
            AND ourm.adpid = #{cdfactIqaBatchTraceabilityRmi.psid}
        </if>
        where
        <trim suffixOverrides="and" >
            1=1 and
            <if test="cdfactIqaBatchTraceabilityRmi.manufacturerRmiCode !=null">
                a.manufacturer_rmi_code = #{cdfactIqaBatchTraceabilityRmi.manufacturerRmiCode} and
            </if>
            <if test="cdfactIqaBatchTraceabilityRmi.manufacturerRmiName !=null">
                a.manufacturer_rmi_name = #{cdfactIqaBatchTraceabilityRmi.manufacturerRmiName} and
            </if>
            <if test="cdfactIqaBatchTraceabilityRmi.rmiSkuCode !=null">
                a.rmi_sku_code = #{cdfactIqaBatchTraceabilityRmi.rmiSkuCode} and
            </if>
            <if test="cdfactIqaBatchTraceabilityRmi.rmiSkuName !=null">
                a.rmi_sku_name = #{cdfactIqaBatchTraceabilityRmi.rmiSkuName} and
            </if>
            <if test="cdfactIqaBatchTraceabilityRmi.rmiBatchNo !=null">
                a.rmi_batch_no = #{cdfactIqaBatchTraceabilityRmi.rmiBatchNo} and
            </if>
            <if test="cdfactIqaBatchTraceabilityRmi.manufacturerEqaCode !=null">
                a.manufacturer_eqa_code = #{cdfactIqaBatchTraceabilityRmi.manufacturerEqaCode} and
            </if>
            <if test="cdfactIqaBatchTraceabilityRmi.manufacturerName !=null">
                a.manufacturer_name = #{cdfactIqaBatchTraceabilityRmi.manufacturerName} and
            </if>
            <if test="cdfactIqaBatchTraceabilityRmi.skuEqacode !=null">
                a.sku_eqacode = #{cdfactIqaBatchTraceabilityRmi.skuEqacode} and
            </if>
            <if test="cdfactIqaBatchTraceabilityRmi.skuJdecode !=null">
                a.sku_jdecode = #{cdfactIqaBatchTraceabilityRmi.skuJdecode} and
            </if>
            <if test="cdfactIqaBatchTraceabilityRmi.skuName !=null">
                a.sku_name = #{cdfactIqaBatchTraceabilityRmi.skuName} and
            </if>
            <if test="cdfactIqaBatchTraceabilityRmi.productionDate !=null">
                a.production_date = #{cdfactIqaBatchTraceabilityRmi.productionDate} and
            </if>
            <if test="cdfactIqaBatchTraceabilityRmi.quantity !=null">
                a.quantity = #{cdfactIqaBatchTraceabilityRmi.quantity} and
            </if>
        </trim>
        order by a.id desc limit #{startIndex},#{limit}
    </select>

    <select id="queryPageCount" resultType="java.lang.Long">
        select count(*) from cdm_fact_iqa_batch_traceability_rmi a
        INNER JOIN edw_iqa_sqa_sku_relation eskr ON eskr.sku_jdecode = a.sku_jdecode
        INNER JOIN ods_user_role_mapping ourm ON ourm.rolename = eskr.sqa_group_name
        <if test="psid !=null">
            AND ourm.adpid = #{psid}
        </if>
        where
        <trim suffixOverrides="and" >
            1=1 and
            <if test="manufacturerRmiCode !=null">
                a.manufacturer_rmi_code = #{manufacturerRmiCode} and
            </if>
            <if test="manufacturerRmiName !=null">
                a.manufacturer_rmi_name = #{manufacturerRmiName} and
            </if>
            <if test="rmiSkuCode !=null">
                a.rmi_sku_code = #{rmiSkuCode} and
            </if>
            <if test="rmiSkuName !=null">
                a.rmi_sku_name = #{rmiSkuName} and
            </if>
            <if test="rmiBatchNo !=null">
                a.rmi_batch_no = #{rmiBatchNo} and
            </if>
            <if test="manufacturerEqaCode !=null">
                a.manufacturer_eqa_code = #{manufacturerEqaCode} and
            </if>
            <if test="manufacturerName !=null">
                a.manufacturer_name = #{manufacturerName} and
            </if>
            <if test="skuEqacode !=null">
                a.sku_eqacode = #{skuEqacode} and
            </if>
            <if test="skuJdecode !=null">
                a.sku_jdecode = #{skuJdecode} and
            </if>
            <if test="skuName !=null">
                a.sku_name = #{skuName} and
            </if>
            <if test="productionDate !=null">
                a.production_date = #{productionDate} and
            </if>
        </trim>
    </select>

</mapper>